html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*{
  margin: 0;
}

html, body{
  margin: 0;
  padding: 0;
  border:none;
  text-align: center;
  font-size: 16px;
  font-family:Garamond, helvetica, sans-serif;
  font-style: inherit;
  font-weight: inherit;
  position: relative;
}

body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

header {
  background-color: #FFF;
  width: 100%;
  height: 60px;
}

header nav {
height: 100%;
width: auto;
}

header nav .nav-list {
  display: inline-block;
  line-height: 60px;
  margin: 0 7px 0 7px;
}

header nav .nav-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
}

.active {
  text-decoration: underline;
}

.main {
  outline: 2px solid #DDD;
  width: 90%;
  height: calc(100vh - 120px);
  margin: auto;
  display: block;
}

.main .main-intro {
  color: #FFF;
  text-shadow: -3px 0 5px black, -3.5px 0 5px white;
  display: block;
  margin-top: 20px;
}

.main ul{
    display: block;
    justify-content: center;
}

.occupation {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  line-height: 2rem;
  text-shadow: -2px 0 5px black, -2.5px 0 5px white;
  list-style-type: none;
}

.contact-container{
  border-radius: 5px;
  box-shadow: -5px 5px 15px black;
  width:350px;
  height: 110px;
  position: absolute;
    top: 55.5%;
    right: 7%;
}

.contact{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(255,255,255,0.1);
}

.contact h3{
  text-align: left;
  margin-left: 25px;
  border-radius: 5px 5px 0 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  line-height: 1.5rem;
  text-shadow: -2px 0 5px black, -2.5px 0 5px white;
  list-style-type: none;
  text-decoration: underline;
}

.contact ul{
  text-align: left;
  position: absolute;
  top:32%;
  left: -15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  line-height: 1.5rem;
  text-shadow: -2px 0 5px black, -2.5px 0 5px white;
  list-style-type: none;
}

.default-pic{
  width: 100%;
}

.default{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #CCC, 0 0 10px #FFF;
  margin: 0 auto 0 auto;
  display: block;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  position: fixed;
    bottom: 0;
    left: 0;
}
