html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*{
  margin: 0;
}

html, body{
  margin: 0;
  padding: 0;
  border:none;
  text-align: center;
  font-size: 16px;
  font-family:Garamond, helvetica, sans-serif;
  font-style: inherit;
  font-weight: inherit;
  position: relative;
}

/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/
/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/
/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-color: #000;
}


.heading1 {
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

#bodyindex{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  margin-top: 60px;
}

header {
  background-color: #FFF;
  width: 100%;
  height: 60px;
  position: fixed;
    top: 0;
  z-index: 100;
}

header img {
  display: none;
}

header .intro {
  font-size: 1.2rem;
  margin: auto;
  line-height: 60px;
  text-align: center;
  display: none;

}

header nav {
height: 100%;
width: auto;
}

header nav .nav-list {
  display: inline-block;
  line-height: 60px;
  margin: 0 7px 0 7px;
}

header nav .nav-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
}

.active {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}

.main {
  width: 90%;
  height: calc(100vh - 120px);
  margin: auto;
  display: block;
  position: relative;
}

.default-pic{
  width: 100%;
}

.default {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #CCC, 0 0 10px #FFF;
  margin: 100px auto 0 auto;
  display: block;
}

.main .main-intro {
  color: #FFF;
  font-size: 2.9rem;
  text-shadow: -3px 0 5px black, -3.5px 0 5px white;
  display: block;
  line-height: 130px;
}

.main ul{
    display: block;
    justify-content: center;
    font-size: 2rem;
}

.occupation {
  font-weight: bold;
  color: white;
  text-shadow: -2px 0 5px black, -2.5px 0 5px white;
  list-style-type: none;
}

.contact-container{
  border: 1px solid rgba(0,0,0, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  width: 200px;
  height: 60px;
  position: relative;
  margin: 100px auto 0 auto;
  cursor: pointer;
}

.contact{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgb(255,255,255);
}

.contact h3{
  text-align: center;
  border-radius: 5px 5px 0 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  line-height: 60px;
  list-style-type: none;
  text-decoration: underline;
}

.sec-aboutme {
  width: 100%;
  height: 500px;
  background-color: #FFF;
  margin-bottom: 60px;
}

.sec-aboutme h1 {
  padding-top: 60px;
}

.about-para {
  max-width: 56%;
  margin: auto;
  padding: 0 5px;
}

.about-para p {
  font-size: 1.2rem;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1.2px;
  justify-content: center;
}

/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/

/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/
/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/
/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/

.proj-main {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  margin-top: 60px;
}

.proj-container {
  background-color: #fff;
  min-width: 320px;
  max-width: 1100px;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: auto auto auto auto;
}

.proj-container h1 {
  margin: 0 auto 50px auto;
}

.main-container .proj-wrapper {
  width: 100%;
  height: 100%;
}

.proj-container .proj-wrapper .figures {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 222.05px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.proj-container .proj-wrapper .figures:hover {
  box-shadow: 0 0 15px #000;
}

.proj-container .proj-wrapper .figures img {
  width: 100%;
  height: 100%;
}

.proj-container .proj-wrapper .figures .figure-tint {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position: absolute;
    top: 0;
    left: 0;
  line-height: 30px;
}

.proj-container .proj-wrapper .figures .figure-tint:hover {
  background-color: rgba(0,0,0,0.85);
  transition: background-color 0.3s ease-In-Out;
}

.proj-container .proj-wrapper .figures .figure-tint p {
  color: #FFF;
  text-shadow: -2px 0 2px black, -2.5px 0 5px white;
}


/*/////////////////////////END PROJECTS.HTML///////////////////////*/
/*/////////////////////////END PROJECTS.HTML///////////////////////*/
/*/////////////////////////END PROJECTS.HTML///////////////////////*/

/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/
/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/
/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/

.edu-main {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:  100% 100%;
  margin-top: 60px;
}

.edu-container {
  background-color: #fff;
  max-width: 800px;
  height: 350px;
  padding-top: 20px;
  margin: 150px auto auto auto;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #000;
}

.edu-container .edu-paragraph {
  font-size: 1.5rem;
  font-family: Garamond;
}

.edu-container .list-container {
  margin: 0 auto 0 auto;
  width: 350px;
}

.edu-container .list-container .edu-list {
  margin: 0 auto 0 70px;
  text-align: left;
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: arial;
}

/*/////////////////////////END EDUCATION.HTML///////////////////////*/
/*/////////////////////////END EDUCATION.HTML///////////////////////*/
/*/////////////////////////END EDUCATION.HTML///////////////////////*/

/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/
/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/
/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/

.goal-main {
  height: calc(100vh - 60px);
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 60px;
}

.box-container {
  background-color: #fff;
  min-width: 300px;
  max-width: 800px;
  height: 350px;
  padding-top: 40px;
  margin: 150px auto auto auto;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #000;
}

.goal-paragraph {
  font-size: 1.5rem;
  font-family: Garamond;
}

.goal-box {
  margin: 0 auto 0 auto;
  width: 550px;
}

.goal-list {
  margin: 0 auto 0 70px;
  text-align: left;
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: arial;
}

/*/////////////////////////END GOALS.HTML///////////////////////*/
/*/////////////////////////END GOALS.HTML///////////////////////*/
/*/////////////////////////END GOALS.HTML///////////////////////*/

/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/
/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/
/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/

.cont-container {
  max-width: 400px;
  height: 400px;
  background-color: #FFF;
  margin: 130px auto auto auto;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #000;
}

.social-icons {
  width: 20px;
  height: 20px;

}

.social-left {
  margin-right: 10px;
}

.social-right {
margin-left: 10px;
margin-right: 20px;
}

.social-icons img {
  width: 90px;
  height: 90px;
}

/*/////////////////////////END CONTACT.HTML///////////////////////*/
/*/////////////////////////END CONTACT.HTML///////////////////////*/
/*/////////////////////////END CONTACT.HTML///////////////////////*/

footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  position: fixed;
    bottom: 0;
    left: 0;
}

footer h3 {
  color: #DDD;
  font-size: 0.8rem;
  line-height: 60px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/
/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/
/*/////////////////////////BEGINNING INDEX.HTML///////////////////////*/

header img {
  display: inline-block;
  width: 50px;
  height: 60px;
  float:left;
  margin: auto;
  cursor: pointer;
}

header .intro {
  display: inline-block;
  text-align: center;
  margin-left: -45px;
}

header nav {
  background-color: #FFF;
  height: calc(100vh - 120px);
  width: 200px;
  position: absolute;
    top: 60.3px;
    left: -200px;
  transition: all 0.5s ease-In-Out;
}

header nav.open {
transform: translateX(200px);
box-shadow: 5px 5px 10px #000;
}

header nav .nav-list {
  display: block;
  text-align: center;
}

.default {
  width: 100px;
  height: 100px;
  margin: 100px auto 0 auto;
  display: block;
}

.main .main-intro {
  font-size: 1.3rem;
  line-height: 60px;
}

.main ul{
    font-size: 1.5rem;
}

.contact-container{
  margin: 50px auto 0 auto;
}

.sec-aboutme h1 {
  font-size: 1.9rem;
}

.about-para {
  max-width: 87%;
}

.about-para p {
  font-size: 1rem;
}

/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/

/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/
/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/
/*/////////////////////////BEGINNING PROJECTS.HTML///////////////////////*/

.proj-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.proj-container h1 {
  font-size: 1.9rem;
}

.proj-container .proj-wrapper .figures {
  display: block;
  width: 80%;
  height: 200px;
  margin: 10px auto;
}

/*/////////////////////////END PROJECTS.HTML///////////////////////*/
/*/////////////////////////END PROJECTS.HTML///////////////////////*/
/*/////////////////////////END PROJECTS.HTML///////////////////////*/

/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/
/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/
/*/////////////////////////BEGINNING EDUCATION.HTML///////////////////////*/

.edu-container {
  max-width: 90%;
  height: calc(100vh - 167px);
  margin: 63px auto auto auto;
}

.edu-container h1 {
  font-size: 1.9rem;
  overflow: hidden;
}

.edu-container .list-container {
  max-width: 250px;
}

.edu-container .list-container .edu-list {
  margin: 0 auto 0 15px;
}

/*/////////////////////////END EDUCATION.HTML///////////////////////*/
/*/////////////////////////END EDUCATION.HTML///////////////////////*/
/*/////////////////////////END EDUCATION.HTML///////////////////////*/

/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/
/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/
/*/////////////////////////BEGINNING GOALS.HTML///////////////////////*/

.goal-box {
  margin: 0 auto 0 auto;
  width: 90%;
}

.goal-list {
  margin: 0 auto 0 15px;
  text-align: left;
  line-height: 1.8rem;
  font-size: 1rem;
  font-family: arial;
}

/*/////////////////////////END GOALS.HTML///////////////////////*/
/*/////////////////////////END GOALS.HTML///////////////////////*/
/*/////////////////////////END GOALS.HTML///////////////////////*/

/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/
/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/
/*/////////////////////////BEGINNING CONTACT.HTML///////////////////////*/

.cont-container {
  max-width: 90%;
  height: calc(100vh - 167px);
  margin: 63px auto auto auto;
}

/*/////////////////////////END CONTACT.HTML///////////////////////*/
/*/////////////////////////END CONTACT.HTML///////////////////////*/
/*/////////////////////////END CONTACT.HTML///////////////////////*/

footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  position: fixed;
    bottom: 0;
    left: 0;
}

footer h3 {
  color: #DDD;
  font-size: 0.8rem;
  line-height: 60px;
}

/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/
/*/////////////////////////END INDEX.HTML///////////////////////*/

}
